# The configuration file for citi.
#

#
# config for the logging section
#
[logging]

# Log level: debug, info, warning, error, critical
log_level=debug

# log directory, empty means local directory
directory=



#
# config for the xlrd settings
#
[excel]

# Excel datemode for windows is 0, for mac is 1
datemode = 0		


